/*
  ./src/scss/framework/modules/_boites.scss
  Module des boites
*/

  /* TYPES DE BOITES */
  /* _________________________________________________________________________*/

  .boite-fixe {
    width: 100%;
    max-width: $largeurBoiteFixe;
    margin: auto;
  }

  .boite-marge-nulle {
    margin: 0;
  }

  .boite-bords {
    border: $boiteBordsCouleur $BoiteBordsDimension solid;
    padding: $boiteBordsPadding;
  }

  /* HABILLAGE */

  .boite-flottante-gauche {
    float: left;
    margin-right: $boiteFlottanteMargin;
    width: $boiteFlottanteLargeur;
  }

  .boite-flottante-droite {
    float: left;
    margin-left: $boiteFlottanteMargin;
    width: $boiteFlottanteLargeur;
  }

  .boite-flottante-gauche img,
  .boite-flottante-droite img {
    width: 100%;
  }

  /* ANULER L'HABILLAGE (FIN) */

  .boite-clearfix {
    content: '';
    display: block;
    clear: both;
  }
