/*
  ./src/scss/framework/modules/_grille.scss
  Module de la grille
*/

  /* LE CONTENEUR */
  /* _________________________________________________________________________*/

    .grille {
      display: grid;
      grid-template-columns: repeat($grilleNombreColonnes, 1fr);
      &.grille-gouttiere {
        grid-gap: $grilleGouttiere;
      }
    }

  /* TOUS LES ITEMS A $grilleNombreColonnes COLONNES PAR DEFAUT */
  /* _________________________________________________________________________*/

    .grille > * {
      grid-column: span $grilleNombreColonnes;
    }

  /* SYSTEME DE GRILLE CONDENSE */
  /* _________________________________________________________________________*/

    @each $etiquette, $dimension in $grilleBreackPoints {
      @media screen and (min-width: #{$dimension}){
        @for $i from 1 through $grilleNombreColonnes {
          .#{$etiquette}-c#{$i} {
            grid-column: span $i;
          }
          .#{$etiquette}-r#{$i} {
            grid-row: span $i;
          }
        }
      }
    }
