/*
  ./src/scss/framework/modules/_helpers.scss
  Module des helpers
*/

  /* TYPES DE CARTES */
  /* _________________________________________________________________________*/

  .card {
    img {
      width: 100%;
        &:hover {
            background: $couleur1;
      }

    }
    //border: $carteBorder;
    //border-radius: $carteBorderRadius;

    // .card-body {
    //   padding: $carteBodyPadding;
    //   .card-title {
    //     font-size: $carteBodyTitreTaille;
    //   }
    //
    //   .card-text {
    //     font-size: $carteBodyTexteTaille;
    //   }
    // }
    //
    // .card-footer {
    //   padding: $carteFooterPadding;
    //   border-top: $carteFooterBorderTop;
    //   background: $carteFooterFond;
    // }

  }

  /* TYPES DE BOUTONS */
  /* _________________________________________________________________________*/


  .btn {
    background: $boutonFond;
    border-radius: $boutonBordeRadius;
    border: none;
    color: $boutonCouleurTexte;
    padding: $boutonPadding;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $boutonTailleTexte;
  }

  .btn-primary {
    background: $boutonPrimaryFond;
    border-radius: $boutonPrimaryBordeRadius;
    border: none;
    color: $boutonPrimaryCouleurTexte;
    padding: $boutonPrimaryPadding;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $boutonPrimaryTailleTexte;
  }
